<!--INTRODUCTION PLUS_begin-->
<div class="meta-section introductionplus introductionplus-topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-{f:cObject(typoscriptObjectPath:'introductionplus.topbar.columns.width.left')} left">
        .col-md-3 <f:cObject typoscriptObjectPath="introductionplus.topbar.columns.width.left" />
      </div>
      <div class="col-md-6">
        <!--<f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="10" />-->
        .col-md-6 <f:cObject typoscriptObjectPath="introductionplus.topbar.columns.width.center" />
      </div>
      <div class="col-md-3 right">
        .col-md-3 <f:cObject typoscriptObjectPath="introductionplus.topbar.columns.width.right" />
      </div>
    </div>
  </div>
</div>
<!--INTRODUCTION PLUS_end-->
<!--BOOTSTRAP PACKAGE_begin-->
<div class="body-bg">
    <f:render partial="Navigation/Main" arguments="{_all}" />
    <f:cObject typoscriptObjectPath="lib.navigation.breadcrumb" />
    <!--TYPO3SEARCH_begin-->
    <div class="main-section">
        <f:render section="Main" />
    </div>
    <!--TYPO3SEARCH_end-->
    <f:render partial="Structure/Footer" arguments="{_all}" />
</div>
<!--BOOTSTRAP PACKAGE_end-->
